
/* src/styles/globals.css */
@import "tailwindcss";
/* THEN your custom CSS below */

:root {
  --w1: #ffffff;
  --w2: #f5f5f5;
  --g1: #4a4a4a;
  --g2: #7a7979;

  --r1: #D84040;
  --r2: #8E1616;
  --accent: #fbc02d;
  --black: #000000;
}

/* Backgrounds */
.bg-w1 { background-color: var(--w1); }
.bg-w2 { background-color: var(--w2); }
.bg-r1 { background-color: var(--r1); }
.bg-r2 { background-color: var(--r2); }
.bg-g1 { background-color: var(--g1); }
.bg-g2 { background-color: var(--g2); }
.bg-accent { background-color: var(--accent); }
.bg-black { background-color: var(--black); }

/* Text */
.text-w1 { color: var(--w1); }
.text-w2 { color: var(--w2); }
.text-g1 { color: var(--g1); }
.text-g2 { color: var(--g2); }
.text-r1 { color: var(--r1); }
.text-r2 { color: var(--r2); }
.text-black { color: var(--black); }

/* Utilities */
.border-w1 { border-color: var(--w1); }
.border-g2 { border-color: var(--g2); }
.border-r1 { border-color: var(--r1); }
.border-r2 { border-color: var(--r2); }






/* styles/globals.css or in a global stylesheet */


